<!DOCTYPE html>
<html>
<head>
    <title>ZYP - Data Plotter</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <style>
        .alert-error {
            color: red;
        }
        body {
            margin-top: 100px;
            display: flex;
            justify-content: center; /* Center horizontally */
            align-items: center; /* Center vertically */
            background: black;
            overflow: hidden;
        }
        .centered-content {
            width: 1050px;   /* Set the width of the content */
            background-color: white; /* Solid background for the content area */
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            position: relative; /* Ensures it stays above the stars */
            z-index: 2;
        }
        .star {
            position: absolute;
            width: 5px;
            height: 5px;
            background: white;
            border-radius: 50%;
            box-shadow: 0 0 5px white;
            animation: shine 1s infinite ease-in-out alternate;
        }
        @keyframes shine {
            from { opacity: 0; }
            to { opacity: 1; }
        }
            .button-container {
                position: absolute;
            top: 10px;
            left: 10px;
            z-index: 3; /* Make sure buttons are above all other content */
        }

        .w3-button { /* Additional styling for buttons if needed */
            margin: 0 4px; /* Spacing between buttons */
            background-color: white; /* White background for each button */
            color: black; /* Text color */
        }
        .footer-container {
                position: absolute;
                bottom: 10px;
                left: 10px;
                z-index: 3;
                color: white;
        }
        .color-link {
            color: #8a93ff; /* Text color for normal state */
            text-decoration: none; /* Optional: removes underline from links */
        }

        .color-link:hover {
            color: #98ffb1; /* Text color when mouse hovers over the link */
        }
				.hidden {
				    display: none;
    		}
    		.clickable-text {
    		    cursor: pointer;
    		    text-decoration: underline;
    		    color: blue;
    		}
				select {
            width: 80px;
        }
	label {
            margin-right: 10px;
	    width: 450px;
        }

		input::placeholder {
        color: grey; /* Set the placeholder text color to grey */
				font-style: italic;
    }
    </style>
</head>
<body>

    <div class="button-container">
        <a href="/" class="w3-button w3-round">Home</a>
        <a href="https://www.ornl.gov/staff-profile/yuanpeng-zhang" target="_blank" class="w3-button w3-round">Yuanpeng's Profile</a>
        <a href="https://me.iris-home.net" target="_blank" class="w3-button w3-round">Homepage</a>
        <a href="https://iris2020.net" target="_blank" class="w3-button w3-round">Blog</a>
        <button onclick="toggleBackground()" class="w3-button w3-round">Dark/Light</button>
    </div>

    <div class="centered-content w3-card-4 w3-padding w3-margin">
        <h1 class="w3-center">Upload Data File(s)</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

				<p>
	<a style="color: blue"><b>N.B. </b>Plot plain-text data file(s) with multiple columns. Two modes are available, <b><i>Single File Mode</i></b> and <b><i>Multiple Files Mode</i></b>.</a>
	    <br>
	    <a style="color: blue"><b>N.B. </b>In the Single File Mode, only one file button is available. Select a file, specify the number of header lines, and plot <b><i>all columns</i></b>.</a>
	    <br>
	    <a style="color: blue"><b>N.B. </b>In the Multiple Files Mode, use '# of Folders' to hop into different folders. <b><i>In each folder, you can select multiple files</i></b>.</a>
	    <br>
	    <a style="color: blue"><b>N.B. </b>In both modes, the input for <b><i>number of header lines is optional</i></b>. However, in case of failure, you still need to input a value.</a>
	   </p>
        <form action="/" method="post" enctype="multipart/form-data" class="w3-container">

	    <div style="display: flex; align-items: center;">
            <input type="radio" name="fileMode" id="singleMode" value="single" checked onclick="disableDropdown()">
            <label for="singleMode">Single File Mode</label>

            <input type="radio" name="fileMode" id="multipleMode" value="multiple" onclick="enableDropdown()">
            <label for="multipleMode">Multiple Files Mode</label>

            <label for="numFiles" class="w3-text-black" style="margin-left: 20px;"># of Folders:</label>
            <select id="numFiles" name="numFiles" class="w3-select" onchange="addFileInputs()" disabled style="margin-left: 10px;">
                <option value="1" selected>1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
        </div>

            <div id="fileInputs">
		<br>
                <input class="w3-input w3-border" type="file" id="datafile1" name="datafile1" required>
            </div>
            <p>
                <label for="headerlines" class="w3-text-black">Number of header lines:</label>
                <input class="w3-input w3-border" type="number" id="headerlines" name="headerlines" min="0" step="1" placeholder="Optional. In case of data loading failure, input a value here.">
		<span class="clickable-text" onclick="toggleVisibility('hiddenText')">Show/hide notes</span>
		<span id="hiddenText" class="hidden"><br />Leaving the input as '0', we will try to figure out the number of header lines and skip them.<br />In case of failure in data loading, please specify the number of header lines explicitly.<br />Empty lines are better to be included while counting the number of header lines.</span>
            </p>
            <p>
                <label for="headerlines" class="w3-text-black">Column to plot:</label>
                <input class="w3-input w3-border" type="number" id="colplot" name="colplot" value="1" min="1" step="1" required>
		<span class="clickable-text" onclick="toggleVisibility('hiddenText1')">Show/hide notes</span>
                <span id="hiddenText1" class="hidden">(This option is for Multiple Files Mode only. DO NOT count the first column, as it will be used as X)</span>
            </p>
            <p>
                <button id="upload-button">Upload and Plot</button>
            </p>
        </form>

    </div>

    <div class="footer-container">
        <a id="copyright">Copyright &copy; 2025 Yuanpeng Zhang</a> <a id="sep1">|</a> <a class="color-link" href="https://www.ornl.gov/" target="_blank">ORNL</a> <a id="sep2">|</a> <a class="color-link" href="https://github.com/Kvieta1990/simple_plotter" target="_blank">Project GitHub Repo</a> <a id="sep3">|</a> <a class="color-link" href="https://iris2020.net/contact" target="_blank">Contact Me</a>
    </div>

    <script>
        function createStars(count) {
            const sky = document.querySelector('body');
            for (let i = 0; i < count; i++) {
                const star = document.createElement('div');
                star.className = 'star';
                star.style.top = `${Math.random() * window.innerHeight}px`;
                star.style.left = `${Math.random() * window.innerWidth}px`;
                star.style.animationDuration = `${Math.random() * 3 + 1}s`; // Random duration between 1s and 4s
                star.style.animationDelay = `${Math.random() * 3}s`; // Random delay
                sky.appendChild(star);
            }
        }

        function toggleBackground() {
            const body = document.querySelector('body');
            const buttons = document.querySelectorAll('.w3-button');
            const stars = document.querySelectorAll('.star');
            const copyright = document.getElementById('copyright');
            const sep1 = document.getElementById('sep1');
            const sep2 = document.getElementById('sep2');
            const sep3 = document.getElementById('sep3');

            // Check current theme
            let currentTheme = localStorage.getItem('theme') || 'light'; // Default to 'light' if no theme is set

            if (currentTheme === 'light') {
                // Switch to dark theme
                body.style.background = 'black';
                buttons.forEach(button => {
                    button.style.backgroundColor = 'white';
                    button.style.color = 'black';
                    copyright.style.color = 'white';
                    sep1.style.color = 'white';
                    sep2.style.color = 'white';
                    sep3.style.color = 'white';
                });
                stars.forEach(star => {
                    star.style.backgroundColor = 'white';
                });
                // Update localStorage
                localStorage.setItem('theme', 'dark');
            } else {
                // Switch to light theme
                body.style.background = 'white';
                buttons.forEach(button => {
                    button.style.backgroundColor = '#7e98ec';
                    button.style.color = 'white';
                    copyright.style.color = 'black';
                    sep1.style.color = 'black';
                    sep2.style.color = 'black';
                    sep3.style.color = 'black';
                });
                stars.forEach(star => {
                    star.style.backgroundColor = 'white';
                });
                // Update localStorage
                localStorage.setItem('theme', 'light');
            }
        }

        function setTheme(theme) {
            const body = document.querySelector('body');
            const buttons = document.querySelectorAll('.w3-button');
            const stars = document.querySelectorAll('.star');
            const copyright = document.getElementById('copyright');
            const sep1 = document.getElementById('sep1');
            const sep2 = document.getElementById('sep2');
            const sep3 = document.getElementById('sep3');

            if (theme === 'dark') {
                // Switch to dark theme
                body.style.background = 'black';
                buttons.forEach(button => {
                    button.style.backgroundColor = 'white';
                    button.style.color = 'black';
                    copyright.style.color = 'white';
                    sep1.style.color = 'white';
                    sep2.style.color = 'white';
                    sep3.style.color = 'white';
                });
                stars.forEach(star => {
                    star.style.backgroundColor = 'white';
                });
            } else {
                body.style.background = 'white';
                buttons.forEach(button => {
                    button.style.backgroundColor = '#7e98ec';
                    button.style.color = 'white';
                    copyright.style.color = 'black';
                    sep1.style.color = 'black';
                    sep2.style.color = 'black';
                    sep3.style.color = 'black';
                });
                stars.forEach(star => {
                    star.style.backgroundColor = 'white';
                });
            }
        }

				window.onload = () => {
						createStars(150); // Create 150 stars
            let currentTheme = localStorage.getItem('theme') || 'light';
            setTheme(currentTheme);

				    const singleModeRadio = document.getElementById('singleMode');
				    if (singleModeRadio) {
				        singleModeRadio.checked = true;
				    }
				    handleFileModeSelection();
				    var fileInputsDiv = document.getElementById('fileInputs');
				    fileInputsDiv.innerHTML = ''; // Clear previous file inputs
				    
				    for (var i = 1; i <= 1; i++) {
				        var fileInput = document.createElement('input');
				        var lineBreak = document.createElement('br');
				        fileInputsDiv.appendChild(lineBreak);
				        fileInput.setAttribute('type', 'file');
				        fileInput.setAttribute('name', 'datafile' + i);
				        fileInput.setAttribute('id', 'datafile' + i);
				        fileInput.setAttribute('required', 'true');
				        fileInput.setAttribute('class', 'w3-input w3-border');
				        fileInputsDiv.appendChild(fileInput);
				    }
				};

						const fileInput = document.getElementById('datafile1');
						const colplotbox = document.getElementById('colplot');

						colplotbox.disabled = true;

						// Function to handle file mode selection based on the radio button choice
						const handleFileModeSelection = () => {
            const selectedMode = document.querySelector('input[name="fileMode"]:checked').value;

            if (selectedMode === 'multiple') {
                fileInput.setAttribute('multiple', 'multiple');
								colplotbox.disabled = false;
            } else {
                fileInput.removeAttribute('multiple');
								colplotbox.disabled = true;
            }
        }

        // Add event listener to the radio buttons to handle file mode selection
        document.querySelectorAll('input[name="fileMode"]').forEach((radio) => {
            radio.addEventListener('change', handleFileModeSelection);
        });

	var text = document.getElementById('hiddenText');
	var text1 = document.getElementById('hiddenText1');
	text.style.display = "none";
	text1.style.display = "none";

	function toggleVisibility(textlabel) {
	    var text = document.getElementById(textlabel);
	    if (text.style.display === "none") {
	        text.style.display = "inline";
	    } else {
	        text.style.display = "none";
	    }
	}

	toggleVisibility();

	function addFileInputs() {
		  var numFiles = document.getElementById('numFiles').value;
    	var fileInputsDiv = document.getElementById('fileInputs');
	    var selectedFiles = Array.from(document.getElementById('fileInputs').getElementsByTagName('input'));
    	fileInputsDiv.innerHTML = ''; // Clear previous file inputs
	    var selectedMode = document.querySelector('input[name="fileMode"]:checked').value;

    	var lineBreak = document.createElement('br');
    	fileInputsDiv.appendChild(lineBreak);

				selectedFiles.forEach(function(fileInput, index) {
				if (index < numFiles) {
						if (selectedMode === 'multiple') {
								fileInput.setAttribute('multiple', 'multiple');
						} else {
								fileInput.removeAttribute('multiple');
						}
						fileInput.setAttribute('required', 'true');
						fileInput.setAttribute('class', 'w3-input w3-border');
	          fileInputsDiv.appendChild(fileInput);
	          if (index < selectedFiles.length - 1) {
								var lineBreak = document.createElement('br');
	    	        fileInputsDiv.appendChild(lineBreak);
	            }
				}
	    });

	  if (numFiles > selectedFiles.length) {
				var lineBreak = document.createElement('br');
				fileInputsDiv.appendChild(lineBreak);
    	  for (var i = 1; i <= (numFiles - selectedFiles.length); i++) {
						var fileInput = document.createElement('input');
    	    	fileInput.setAttribute('type', 'file');
    	    	fileInput.setAttribute('name', 'datafile' + i);
    	    	fileInput.setAttribute('id', 'datafile' + i);
	    	    if (selectedMode === 'multiple') {
	    	        fileInput.setAttribute('multiple', 'multiple');
	    	    }
	    	    fileInput.setAttribute('required', 'true');
    	    	fileInput.setAttribute('class', 'w3-input w3-border');
    	    	fileInputsDiv.appendChild(fileInput);

	    	    if (i < (numFiles - selectedFiles.length)) {
    	    	        var lineBreak = document.createElement('br');
    	    	        fileInputsDiv.appendChild(lineBreak);
	    	    }
				}
    }

		}

    	function disableDropdown() {
    	    document.getElementById('numFiles').setAttribute('disabled', 'true');
    	    document.getElementById('numFiles').value = '1';
    	    addFileInputs();
    	}

    	function enableDropdown() {
    	    document.getElementById('numFiles').removeAttribute('disabled');
    	    addFileInputs();
    	}

    </script>

		<script defer src="https://umm.iris-home.net/script.js" data-website-id="e327d37b-ab6d-4807-a019-32d2be42c28e"></script>

</body>
</html>
