<!DOCTYPE html>
<html>
<head>
    <title>ZYP - Data Plotter</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <style>
				body {
    display: flex;
    flex-direction: column;
    max-height:1270px;
    margin: 0;
    background-color: black;
    justify-content: flex-start; /* Changed from center to flex-start */
    overflow-x: auto;
}
.centered-content {
    width: 50%;
    min-width: 1700px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 80px auto; /* Centered horizontally and added top margin */
    flex: 1; /* Ensure it grows to fill space */
    overflow-y: auto;
    position: relative;
    z-index: 2;
    max-height:1150px;
}
        .star {
            position: absolute;
            width: 5px;
            height: 5px;
            background: white;
            border-radius: 50%;
            box-shadow: 0 0 5px white;
            animation: shine 1s infinite ease-in-out alternate;
        }
        @keyframes shine {
            from { opacity: 0; }
            to { opacity: 1; }
        }
        .button-container {
            position: absolute;
            top: 10px;
            left: 10px;
            z-index: 3;
        }
        .w3-button {
            margin: 0 4px;
            background-color: white;
            color: black;
        }
				.footer-container {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 3;
    color: white;
}
        .color-link {
            color: #8a93ff;
            text-decoration: none;
        }
        .color-link:hover {
            color: #98ffb1;
        }
				input[type=range] {
            width: 300px; /* Adjust the width as needed */
        }
    </style>
		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="button-container">
        <a href="/" class="w3-button w3-round">Home</a>
        <a href="https://www.ornl.gov/staff-profile/yuanpeng-zhang" target="_blank" class="w3-button w3-round">Yuanpeng's Profile</a>
        <a href="https://me.iris-home.net" target="_blank" class="w3-button w3-round">Homepage</a>
        <a href="https://iris2020.net" target="_blank" class="w3-button w3-round">Blog</a>
        <button onclick="toggleBackground()" class="w3-button w3-round">Dark/Light</button>
    </div>

		<div class="centered-content" style="width: 50%;">
        <a href="/" class="w3-button" id="return_button" style="margin-left:17px;background:#7e98ec;color:white">Return</a>
        <div class="w3-card-4 w3-margin">
            <div class="w3-container w3-padding">
                <h1 class="w3-center">{{ fn }}</h1>
                <div id="plot"></div>
								<!-- Sliders for Dataset 1 -->
								<div style="margin-left: 5px;">
								    <label>Dataset-1 Y-Scale: <input type="range" id="scale1" min="{{ trans_params[1] }}" max="{{ trans_params[0] }}" step="{{ (trans_params[0] - trans_params[1]) / 1000 }}" value="1"></label>
								    <span id="scale1Value" class="slider-value"></span>
    								    <label>Y-Offset: <input type="range" id="yOffset1" min="{{ trans_params[3] }}" max="{{ trans_params[2] }}" step="{{ (trans_params[2] - trans_params[3]) / 1000 }}" value="0"></label>
								    <span id="yOffset1Value" class="slider-value"></span>
    								    <label>X-Offset: <input type="range" id="xOffset1" min="{{ -trans_params[4] * 20 }}" max="{{ trans_params[4] * 20}}" step="{{ trans_params[4] }}" value="0"></label>
								    <span id="xOffset1Value" class="slider-value"></span>
    								</div>
    								<!-- Sliders for Dataset 2 -->
    								<div style="margin-left: 5px;">
								    <label>Dataset-2 Y-Scale: <input type="range" id="scale2" min="{{ trans_params[1] }}" max="{{ trans_params[0] }}" step="{{ (trans_params[0] - trans_params[1]) / 1000 }}" value="1"></label>
								    <span id="scale2Value" class="slider-value"></span>
    								    <label>Y-Offset: <input type="range" id="yOffset2" min="{{ trans_params[3] }}" max="{{ trans_params[2] }}" step="{{ (trans_params[2] - trans_params[3]) / 1000 }}" value="0"></label>
								    <span id="yOffset2Value" class="slider-value"></span>
    								    <label>X-Offset: <input type="range" id="xOffset2" min="{{ -trans_params[5] * 20 }}" max="{{ trans_params[5] * 20}}" step="{{ trans_params[5] }}" value="0"></label>
								    <span id="xOffset2Value" class="slider-value"></span>
    								</div>
								<br />
								<button class="w3-button" id="resetButton">Reset All Sliders</button>
            </div>
        </div>
        <p>
            <a style="color: red"><b>N.B.</b> The uploaded data will be deleted after plotting.</a>
            <br>
            <a style="color: red"><b>N.B.</b> Refreshing current page will lead us back to the index page.</a>
        </p>
    </div>

    <script>
        function createStars(count) {
            const sky = document.querySelector('body');
            for (let i = 0; i < count; i++) {
                const star = document.createElement('div');
                star.className = 'star';
                star.style.top = `${Math.random() * window.innerHeight}px`;
                star.style.left = `${Math.random() * window.innerWidth}px`;
                star.style.animationDuration = `${Math.random() * 3 + 1}s`; // Random duration between 1s and 4s
                star.style.animationDelay = `${Math.random() * 3}s`; // Random delay
                sky.appendChild(star);
            }
        }

        function toggleBackground() {
            const body = document.querySelector('body');
            const buttons = document.querySelectorAll('.w3-button');
            const stars = document.querySelectorAll('.star');

            // Check current theme
            let currentTheme = localStorage.getItem('theme') || 'light'; // Default to 'light' if no theme is set

            if (currentTheme === 'light') {
                // Switch to dark theme
                body.style.background = 'black';
                buttons.forEach(button => {
                    button.style.backgroundColor = 'white';
                    button.style.color = 'black';
                });
                document.getElementById('return_button').style.backgroundColor = '#7e98ec';
                document.getElementById('resetButton').style.backgroundColor = '#7e98ec';
                document.getElementById('return_button').style.color = 'white';
                document.getElementById('resetButton').style.color = 'white';
                stars.forEach(star => {
                    star.style.backgroundColor = 'white';
                });
                // Update localStorage
                localStorage.setItem('theme', 'dark');
            } else {
                // Switch to light theme
                body.style.background = 'white';
                buttons.forEach(button => {
                    button.style.backgroundColor = '#7e98ec';
                    button.style.color = 'white';
                });
                stars.forEach(star => {
                    star.style.backgroundColor = 'white';
                });
                // Update localStorage
                localStorage.setItem('theme', 'light');
            }
        }

        function setTheme(theme) {
            const body = document.querySelector('body');
            const buttons = document.querySelectorAll('.w3-button');
            const stars = document.querySelectorAll('.star');

            if (theme === 'dark') {
                // Switch to dark theme
                body.style.background = 'black';
                buttons.forEach(button => {
                    button.style.backgroundColor = 'white';
                    button.style.color = 'black';
                });
                document.getElementById('return_button').style.backgroundColor = '#7e98ec';
                document.getElementById('return_button').style.color = 'white';
                stars.forEach(star => {
                    star.style.backgroundColor = 'white';
                });
            } else {
                body.style.background = 'white';
                buttons.forEach(button => {
                    button.style.backgroundColor = '#7e98ec';
                    button.style.color = 'white';
                });
                stars.forEach(star => {
                    star.style.backgroundColor = 'white';
                });
            }
        }

        window.onload = () => {
            createStars(150); // Create 150 stars
            let currentTheme = localStorage.getItem('theme') || 'light';
            setTheme(currentTheme);
        };

				var graphs = {{ graphJSON|safe }};
        var initialX1 = {{ initial_x1|safe }};
        var initialX2 = {{ initial_x2|safe }};
        var initialY1 = {{ initial_y1|safe }};
        var initialY2 = {{ initial_y2|safe }};

        Plotly.newPlot('plot', graphs.data, graphs.layout);

        function updatePlot() {
            var scale1 = parseFloat($('#scale1').val());
            var yOffset1 = parseFloat($('#yOffset1').val());
            var xOffset1 = parseFloat($('#xOffset1').val());
            
            var scale2 = parseFloat($('#scale2').val());
            var yOffset2 = parseFloat($('#yOffset2').val());
            var xOffset2 = parseFloat($('#xOffset2').val());

            var update1 = {
                'x': [initialX1.map(x => x + xOffset1)],
                'y': [initialY1.map(y => y * scale1 + yOffset1)]
            };
            
            var update2 = {
                'x': [initialX2.map(x => x + xOffset2)],
                'y': [initialY2.map(y => y * scale2 + yOffset2)]
            };
            
            Plotly.update('plot', update1, {}, [0]);
            Plotly.update('plot', update2, {}, [1]);
        }

	function resetSliders() {
            $('#scale1').val(1);
            $('#yOffset1').val(0);
            $('#xOffset1').val(0);
            $('#scale2').val(1);
            $('#yOffset2').val(0);
            $('#xOffset2').val(0);

	    var trace1Name = graphs.data[0].name;
            var trace2Name = graphs.data[1].name;

            // Reset plot to initial data
            Plotly.newPlot('plot', [
                {x: initialX1, y: initialY1, mode: 'lines', name: trace1Name},
                {x: initialX2, y: initialY2, mode: 'lines', name: trace2Name}
            ], graphs.layout);

    	    document.querySelectorAll('input[type=range]').forEach(input => {
    	        updateSliderValue(input.id, `${input.id}Value`);
    	    });
        }

	
	function generateValuesBetween(minValue, maxValue, numElements) {
	    const step = (maxValue - minValue) / numElements;
	    const valuesList = [];
	    
	    for (let i = 0; i < numElements; i++) {
	        const value = minValue + step * i;
	        valuesList.push(value);
	    }
	    
	    return valuesList;
	}

	function findClosestTo1(valuesList) {
	    let closestValue = valuesList[0];
	    let minDiff = Math.abs(1 - closestValue);
	    
	    for (let i = 1; i < valuesList.length; i++) {
	        const diff = Math.abs(1 - valuesList[i]);
	        if (diff < minDiff) {
	            closestValue = valuesList[i];
	            minDiff = diff;
	        }
	    }
	    
	    return closestValue;
	}

	function findPower(value) {
	    let power_out = 1;
	    let value_tmp = value;

	    while (value_tmp < 1) {
		value_tmp *= 10;
		power_out *= 10;
		    console.log(power_out);
	    }

	    power_out /= 10;

	    return power_out;
	}

	function updateSliderValue(sliderId, valueId) {
            const slider = document.getElementById(sliderId);
            const value = document.getElementById(valueId);
	    let sliderValue = parseFloat(slider.value);
	    var tp_list = {{ trans_params }};
			console.log(tp_list);
	    if (sliderId.includes('scale')) {
	    	let scale_list = generateValuesBetween(tp_list[1], tp_list[0], 1000);
	    	let var_tmp = findClosestTo1(scale_list);
	    	if (Math.abs(var_tmp - sliderValue) < 0.00001) {
            	    sliderValue = 1.0;
    	    	}
	    } else {
		if (sliderId.includes('yOffset')) {
	    	    let offset_list = generateValuesBetween(tp_list[3], tp_list[2], 1000);
		    const modifiedList = offset_list.map(num => num + 1);
		    let var_tmp = findClosestTo1(modifiedList);
		    if (Math.abs(var_tmp - sliderValue - 1) < 0.00001) {
			sliderValue = 0.0;
		    }
		}
	    }
	    const formattedValue = parseFloat(sliderValue).toFixed(5);
            value.textContent = formattedValue;
        }

	document.addEventListener('DOMContentLoaded', () => {
    	    document.querySelectorAll('input[type=range]').forEach(input => {
    	        updateSliderValue(input.id, `${input.id}Value`);
    	    });
    	});

        document.querySelectorAll('input[type=range]').forEach(input => {
           input.addEventListener('input', () => {
               updateSliderValue(input.id, `${input.id}Value`);
           });
        });

        $('input[type=range]').on('input', updatePlot);
	$('#resetButton').on('click', resetSliders);

    </script>

    <script defer src="https://umm.iris-home.net/script.js" data-website-id="e327d37b-ab6d-4807-a019-32d2be42c28e"></script>

</body>
</html>
